monad
!embed/include/monad/
!embed/include/monad/embed.h
Main
libmonad.so
libmonad-embed.so
libmonad.a
*.a
*.o
*.mqti
*.bad.ll
**/*.ll
/build/
/how_to/AlgebraicDataTypes
/how_to/Donut
/how_to/FirstOrderModalLogic
/how_to/ReaderSyntax
/how_to/RunDonut
tests/.test-results.json
tests/codegen/rt_*
tests/codegen/*.desugar
__pycache__
.pytest_cache
/.dryc/
/core/prelude/**/*.json
/libmonad-compiler.so
/101
/Donut
/Scheme
/Socket
/WispSpace
/core_text_parser_combinators
/parser_recursive_higher_order_collection_reply
/core/IO/Directory
/how_to/101
/how_to/Iter
/how_to/Parse
/how_to/Scheme
/how_to/TcpServer
/how_to/Test
